.weather-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather-details{
    border: 1px solid rgb(47, 152, 157);
    border-radius: 5px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}
.icon-temp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.icon-temp h1{
    margin: 0;
}
.weather-details img{
    height: 80px;
    width: 80px;
}
.weather-details p{
    text-align: center;
    margin: 0;
}
.weather-details h4{
    text-align: center;
    margin: 0;
    
}
.extra-weather-details{
    color: white;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}
.forecast-cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.forecast-card{
    border: 1px solid rgb(47, 152, 157);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 120px;
    margin: 20px;
    cursor: pointer;
}
.forecast-card:hover{
    background-color: rgba(135, 121, 121, 0.176);
}
.forecast-card p{
    margin: 0;
}
.forecast-card .temp{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
}
.icon-temp-forecast{
    display: flex;
    align-items: center;
    
}
.icon-temp-forecast p{
    margin: 0;
    padding: 0;
}
.icon-temp-forecast img{
    height: 50px;
    width: 50px;
}
.icon-temp-forecast p{
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}